
body{
    /*background: #333;*/
    background: url(../img/contact-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-size: 60px;
}

.container{
    position: absolute;
    margin-top: 80px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.information{
    padding: 10px 20px;
}


ul{
    list-style: none;
    margin: 0;
}

.email{
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(104, 104, 57);
}

.information, form{
    background: rgb(160, 159, 159);
    width: 40%;
    background: transparent;
}

 .social a{
    color: white;
    font-size: 30px;
    margin-right: 5px;
    transition: .7s ease;
}

.social a:hover{
    color: rgb(124, 92, 33);
}

input[type="text"], input[type="email"]{
    margin-bottom: 20px;
    border-radius: 5px;
    height: 35px;
    background: rgba(90, 86, 86, 0.671);
    border: none;
    color: white;
    padding-left: 6px;
}

textarea{
    background: rgba(90, 86, 86, 0.671);
    border: none;
    color: white;
    border-radius: 5px;
}

button{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    color: white;
    background: rgb(124, 92, 33);
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

button:hover{
    background: rgb(172, 128, 48);
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
    outline: none;
}

form input, form textarea{
    width: 95%;
}

@media screen and (max-width: 960px){
    .container{
        display: block;
        /* border: 1px solid red; */
        justify-items: center;
        overflow: hidden;
        margin-bottom: 80px;
    }

    .information, form{
        width: 100%;
        text-align: center;
    }


    form{
        margin-top: 60px;
        text-align: center;
    }

    form input,form textarea, button{
        width: 50%;
    }

    
}

@media screen and (max-width: 480px){
    body{
        background: #171515;
    }
    
    .container{
        /* position: initial; */
        width: 100%;
    }

    .information{
        padding: 0;
    }

    .information, form{
        width: 100%;
    }

    form input,form textarea, button{
        width: 80%;
    }
}